/* h1 und h2 anpassen */

a:link {color:#ffd000; text-decoration:none;}
a:active {color:#ff0000; text-decoration:underline;}
a:visited {color:#ffd000; text-decoration:none;}
a:hover {color:#ff0000; text-decoration:underline;}

body {
margin-top:5px;
margin-bottom:5px;
margin-left:5px;
margin-right:5px;
margin:5px;
background:#330000;}

form {
margin-top:0px;
margin-bottom:0px;
margin-left:0px;
margin-right:0px;
margin:0px;
}

input, textarea, select {
font-family:tahoma,arial,helvetica,sans-serif;
font-size:8pt;
}

body, td {
font-family:arial,helvetica,sans-serif;
font-size:10pt;
color:#ffeeaa;
}

#red {color:#ff0000;}
#grey {color:#aa6600;}



#guestbooktable {background:#ffdd00;}

#guestbooktitle {
font-family:arial,helvetica,sans-serif;
font-size:10pt;
font-weight:bold;
background:#660000;
vertical-align:top;
}

#guestbooktitleinfo {
font-family:tahoma,arial,helvetica,sans-serif;
font-size:8pt;
color:#ddaa00;
vertical-align:middle;
}

#guestbookcell {
font-family:arial,helvetica,sans-serif;
font-size:9pt;
background:#880000;
vertical-align:top;
}

#guestbookinfo {
font-family:tahoma,arial,helvetica,sans-serif;
font-size:8pt;
color:#ff8800;
background:#660000;
vertical-align:center;
}

#guestbookinfolight {
font-family:tahoma,arial,helvetica,sans-serif;
font-size:8pt;
color:#cc0000;
background:#660000;
vertical-align:top;
}
